
@import "../style/bootstrap/variables";

.shop {
  /*
  display: flex;
  flex-flow: row wrap;
  margin: 0 -$spacer-x/2;
  */
  &__item {
    position: relative;
    display: flex;
    /*flex: 1 0 400px;*/
    flex-flow: column wrap;
    margin: $spacer-y 0;
    background: $gray-lighter;
    border-radius: $border-radius;
    padding: $spacer;

    .featured & {
      &::before {
        content: "Featured";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 10px;
        background: $brand-warning;
        color: $gray-lightest;
      }
    }
  }

}

.item__footer {
  display: flex;
  margin: -$spacer/2;

  .btn {
    margin: $spacer/2;
  }
}

.button-order-example--1 {
  .button--b {
    order: -1;
  }
}

.button-order-example--2 {
  .button--a {
    margin-right: auto;
  }

  .button--b {
    order: -1;
  }
}

.button-order-example--3 {
  .button--a {
    order: 1;
  }

  .button--c {
    order: -1;
    margin-right: auto;
  }
}

.featured {
  order: -1;
}

.item-order-example--1 {
  .item__body {
    order: 1;
  }
}



.tabBox {
  display: flex;
  flex-wrap: wrap;
}

.tabBox__title {
  flex: 0 0 25%; // Everyone: start at 20%, do not grow, do not shrink
  max-width: 25%; // No really IE10/11, do not grow bigger than 20%
  height: 100px;
  order: -1;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  cursor: pointer;

  &.is-active {
    order: 0;
  }

  &:nth-child(8n+1) { background: $brand-danger }
  &:nth-child(8n+3) { background: $brand-warning }
  &:nth-child(8n+5) { background: $brand-success }
  &:nth-child(8n+7) { background: $brand-info }

  &:nth-child(8n+1),
  &:nth-child(8n+3),
  &:nth-child(8n+5),
  &:nth-child(8n+7) {

    &.is-active {
      background: $brand-primary;
      color: $gray-lightest;
    }

    + .tabBox__details {
      order: 10;
    }
  }

}

.tabBox__details {
  display: none;
  flex-basis: 100%;
  height: 200px;
  background: $gray-lighter;
  font-size: 40px;
  justify-content: center;
  align-items: center;
}

.tabBox__title.is-active + .tabBox__details {
  display: flex;
  order: 10;
}

.tabBox__title:nth-child(8n+1).is-active + .tabBox__details + .tabBox__title {
  order: 5;
}
.tabBox__title:nth-child(8n+1).is-active + .tabBox__details + .tabBox__title + .tabBox__details + .tabBox__title {
  order: 6;
}
.tabBox__title:nth-child(8n+1).is-active + .tabBox__details + .tabBox__title + .tabBox__details + .tabBox__title + .tabBox__details + .tabBox__title {
  order: 7;
}

.tabBox__title:nth-child(8n+3).is-active + .tabBox__details + .tabBox__title {
  order: 5;
}
.tabBox__title:nth-child(8n+3).is-active + .tabBox__details + .tabBox__title + .tabBox__details + .tabBox__title {
  order: 6;
}
.tabBox__title:nth-child(8n+5).is-active + .tabBox__details + .tabBox__title {
  order: 5;
}

.tabBox__title.is-active ~ .tabBox__title {
  order: 20;
}

