
@import "../style/bootstrap/variables";

.pln {
  color: $gray;
}

@media screen {
  .str {
    color: $brand-success;
  }
  .kwd {
    color: $brand-primary;
  }
  .com {
    color: $gray-light;
  }
  .typ {
    color: #606
  }
  .lit {
    color: $brand-info;
  }
  .pun,
  .opn,
  .clo {
    color: $brand-success;
  }
  .tag {
    color: $brand-primary;
  }
  .atn {
    color: $brand-warning
  }
  .atv {
    color: $brand-danger
  }
  .dec,
  .var {
    color: #606
  }
  .fun {
    color: $brand-danger;
  }
}

@media print,
projection {
  .str {
    color: #060
  }
  .kwd {
    color: $brand-primary;
    font-weight: bold
  }
  .com {
    color: #600;
    font-style: italic
  }
  .typ {
    color: #404;
    font-weight: bold
  }
  .lit {
    color: #044
  }
  .pun,
  .opn,
  .clo {
    color: #440
  }
  .tag {
    color: $brand-primary;
    font-weight: bold
  }
  .atn {
    color: #404
  }
  .atv {
    color: #060
  }
}

pre.prettyprint {
  border: 1px solid $gray-lighter;
  border-radius: 5px;
  color: $gray-light;
}

ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  background: $gray-lighter;

  li {
    background: $gray-lightest;
    padding: 0 0 0 3px;
  }
}

/*
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  background: #eee
}
*/
