
@import "../style/bootstrap/variables";

.site__footer {
  background: $gray-lighter;
  border-top: 1px solid $gray-light;
}

.footer__row {
  lost-flex-container: row;
}

.footer__col {
  lost-column: 1/3 flex;
}
