
@import "../style/bootstrap/variables";

.site__header {
  background: $gray-dark;
  color: $gray-light;
  min-height: 60px;
  align-items: center;
  margin-bottom: 20px;
}

.header__nav,
.header__nav-list,
.nav__item,
.nav__link,
.link__item {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__nav-list {
  flex-basis: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav__link {
  color: $gray-lightest;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: $gray-lighter;
    outline: none;
  }
}

.nav__icon {
  color: $brand-primary;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  margin-right: 10px;
}

.link__item {
  flex-direction: column;
  justify-content: space-around;
  font-size: 20px;
  line-height: 20px;
  font-weight: 800;
}

.nav__desc {
  color: $gray-light;
  font-size: 14px;
  line-height: 14px;
  font-weight: 200;
}


// Medium screen
@media (max-width: 991px) {
  .header__nav-list {
    flex-direction: column;
  }

  .nav__link {
    flex-basis: 100%;
    padding: 10px 0;
    align-items: center;
  }

  .nav__icon {
    font-size: 20px;
    line-height: 20px;
    margin-right: 20px;
  }

  .link__item {
    flex-direction: row;
    align-items: baseline;
    flex-basis: 100%;
    justify-content: space-between;
  }
}

// Small screen
@media (max-width: 575px) {
  .nav__item {

    &:nth-child(2n) {

      .link__item {
        margin: 0 50px 0 0;
      }

      .nav__link {
        flex-direction: row-reverse;
      }
      .link__item {
        margin: 0 0 0 50px;
      }
    }
  }

  .link__item {
    justify-content: center;
  }

  .nav__desc {
    display: none;
  }
}

